DATABASE_URL="postgresql://ffsurovov@localhost:5432/finance_dev"
JWT_SECRET="dev-secret-change-me-at-least-64-bytes-XXXXXXXXXXXXXXXXXXXXXXXXXXXX"
PORT=4000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:5173
